<img src="img/lista2_header.png" alt="Drawing" style="width: 850px; padding-right: 120px" class="left"/>

**Integrantes**

- Sandro Furtado - 20/0095757

- Tiago Vidigal - 20/0095773

- William Oliveira - 20/0095790

In [1]:
import pandas as pd
import numpy as np

<img src="img/lista2_22_q1.png" alt="Drawing" style="width: 1200px; padding-right: 120px" class="left"/>

Convertendo o problema para um dicionário de equações:

$
\begin{align}
\quad & Z\ = 0 +4x_1 +3x_2\\
  &     x_3 = 7 -1x_1 -3x_2\\
  &     x_4 = 8 -2x_1 -2x_2\\
  &     x_5 = 3 -1x_1 -1x_2\\
  &     x_6 = 2 +0x_1 -1x_2\\
  &     x_1, x_2, x_3, x_4, x_5, x_6 \geq 0\\
\end{align}
$

O dicionário acima possui:
* Variáveis basicas:$\quad\quad\ \ \ Z, x_3, x_4, x_5, x_6$
* Variáveis não-basicas: $\quad\ x_1, x_2$
* Maior incremento de $Z$:$\quad x_1$

Maximizando a variável que mais incrementa $Z$:

$
\begin{align}
\quad & x_1 \geq 0\\
  &     x_3 = 7 -1x_1 \geq 0 \rightarrow x_1 \leq 7\\
  &     x_4 = 8 -2x_1 \geq 0 \rightarrow x_1 \leq 4\\
  &     x_5 = 3 -1x_1 \geq 0 \rightarrow x_1 \leq 3\\
  &     x_6 = 2 +0x_1
\end{align}
$

Podemos ver na maximização acima que:
* Maior valor positivo: $\quad\ \ \ 3$
* Soluções viáveis:$\quad\quad\ \ \ 0 \leq x_1 \leq 3$
* Maior restrição: $\quad\quad\quad x_5 = 3 -1x_1$

Assim, podemos modificar o dicionário considerando:
* Maior restrição da variável: $\quad x_5 = 3 -1x_1 -1x_2$
* Adaptando a restrição:$\quad\quad\ \ x_1 = 3 -1x_5 -1x_2$

O dicionario atualizado é:

$
\begin{align}
\quad & Z\ = 12 -4x_5 -1x_2\\
  &     x_3 =\ \ 4 -2x_2 +1x_5\\
  &     x_4 =\ \ 2 +0x_2 +2x_5\\
  &     x_1 =\ \ 3 -1x_2 -1x_5\\
  &     x_6 =\ \ 2 -1x_2 +0x_5\\
  &     x_1, x_2, x_3, x_4, x_5, x_6 \geq 0\\
\end{align}
$

Uma vez que $Z$ não possui mais nenhum coefiecient positivo, nenhuma outra maximização irá aumentar nossa solução.
Logo, nossa solução ótima será:
* $Z\   = 12$
* $x_1 =\ \ 3$
* $x_2 =\ \ 0$
* $x_3 =\ \ 4$
* $x_4 =\ \ 2$
* $x_5 =\ \ 0$
* $x_6 =\ \ 2$

<img src="img/lista2_22_q2.png" alt="Drawing" style="width: 1200px; padding-right: 120px" class="left"/>

Convertendo o problema para um dicionário de equações:

$
\begin{align}
\quad & Z\ =\ \ 0 +4x_1 +8x_2\\
  &     x_3 = 18 -3x_1 -2x_2\\
  &     x_4 =\ \ 5 -1x_1 -1x_2\\
  &     x_5 =\ \ 4 -1x_1 +0x_2\\
  &     x_1, x_2, x_3, x_4, x_5 \geq 0\\
\end{align}
$

O dicionário acima possui:
* Variáveis basicas:$\quad\quad\ \ \ Z, x_3, x_4, x_5$
* Variáveis não-basicas: $\quad\ x_1, x_2$
* Maior incremento de $Z$:$\quad x_2$

Maximizando a variável que mais incrementa $Z$:

$
\begin{align}
\quad & x_2 \geq 0\\
  &     x_3 = 18 -2x_2 \geq 0 \rightarrow x_2 \leq 9\\
  &     x_4 =\ \ 5 -1x_2 \geq 0 \rightarrow x_2 \leq 5\\
  &     x_5 =\ \ 4 +0x_2
\end{align}
$

Podemos ver na maximização acima que:
* Maior valor positivo: $\quad\ \ \ 5$
* Soluções viáveis:$\quad\quad\ \ \ 0 \leq x_2 \leq 5$
* Maior restrição: $\quad\quad\quad x_4 = 5 -1x_2$

Assim, podemos modificar o dicionário considerando:
* Maior restrição da variável: $\quad x_4 = 5 -1x_1 -1x_2$
* Adaptando a restrição:$\quad\quad\ \ x_2 = 5 -1x_1 -1x_4$

O dicionario atualizado é:

$
\begin{align}
\quad & Z\ = 40 -4x_1 -8x_4\\
  &     x_3 =\ \ 8 -1x_1 +2x_4\\
  &     x_2 =\ \ 5 -1x_1 -1x_4\\
  &     x_5 =\ \ 4 -1x_1 +0x_4\\
  &     x_1, x_2, x_3, x_4, x_5 \geq 0\\
\end{align}
$

Uma vez que $Z$ não possui mais nenhum coefiecient positivo, nenhuma outra maximização irá aumentar nossa solução.
Logo, nossa solução ótima será:
* $Z\   = 40$
* $x_1 =\ \ 0$
* $x_2 =\ \ 5$
* $x_3 =\ \ 8$
* $x_4 =\ \ 0$
* $x_5 =\ \ 4$

<img src="img/lista2_22_q3.png" alt="Drawing" style="width: 1200px; padding-right: 120px" class="left"/>

Convertendo o problema para um dicionário de equações:

$
\begin{align}
\quad & Z\ = \ \ 0 +2x_1 +6x_2\\
  &     x_3 = 12 -4x_1 -3x_2\\
  &     x_4 = \ \ 8 -2x_1 -1x_2\\
  &     x_1, x_2, x_3, x_4 \geq 0\\
\end{align}
$

O dicionário acima possui:
* Variáveis basicas:$\quad\quad\ \ \ Z, x_3, x_4$
* Variáveis não-basicas: $\quad\ x_1, x_2$
* Maior incremento de $Z$:$\quad x_2$

Maximizando a variável que mais incrementa $Z$:

$
\begin{align}
\quad & x_2 \geq 0\\
  &     x_3 = 12 -3x_2 \geq 0 \rightarrow x_2 \leq 4\\
  &     x_4 = \ \ 8 -1x_2 \geq 0 \rightarrow x_2 \leq 8\\
\end{align}
$

Podemos ver na maximização acima que:
* Maior valor positivo: $\quad\ \ \ 4$
* Soluções viáveis:$\quad\quad\ \ \ 0 \leq x_2 \leq 4$
* Maior restrição: $\quad\quad\quad x_3 = 12 -3x_2$

Assim, podemos modificar o dicionário considerando:
* Maior restrição da variável: $\quad x_3 = 12 -4x_1 -3x_2$
* Adaptando a restrição:$\quad\quad\ \ x_2 = 4 -(4/3)x_1 -(1/3)x_3$

O dicionario atualizado é:

$
\begin{align}
\quad & Z\ = 24 \ \ \ \ \ -6x_1 \ \ \ \ \ \ -2x_3\\
  &     x_2 =\ \ 4 -(4/3)x_1 -(1/3)x_3\\
  &     x_4 = \ \ 4 -(2/3)x_1 +(1/3)x_3\\
  &     x_1, x_2, x_3, x_4 \geq 0\\
\end{align}
$

Uma vez que $Z$ não possui mais nenhum coefiecient positivo, nenhuma outra maximização irá aumentar nossa solução.
Logo, nossa solução ótima será:
* $Z\   = 24$
* $x_1 =\ \ 0$
* $x_2 =\ \ 4$
* $x_3 =\ \ 0$
* $x_4 =\ \ 4$

<img src="img/lista2_24_q1.png" alt="Drawing" style="width: 1200px; padding-right: 120px" class="left"/>

Os método simplex tabulares possuem um conjunto de passos bem definidos. Uma possível implementação de um desses conjuntos é apresentado pela seguinte função:

In [2]:
def optimal_solution(df):
    cycle_count = 0
    
    while True:
        df_coefs  = df[df.columns[2:]]
        pivot_col = None

        # Get pivot column of that cycle
        for coef in df_coefs.loc[[0]]:
            if df_coefs.loc[df_coefs.index[0], coef] < 0:
                pivot_col = coef
                break

        # If no pivot candidate, optimal solution found
        if pivot_col is None: break
        cycle_count += 1

        # Get pivot line of that cycle
        df_lines = df_coefs[df_coefs[pivot_col] > 0]
        divisao = df_lines.apply(lambda row: row["const"]/row[pivot_col], axis = 1)
        pivot_row = divisao.idxmin()

        # Updating table: Change base
        print("< Cycle",cycle_count,"> Pivot: Column",pivot_col,", Row",pivot_row)
        df.at[pivot_row, "Variável básica"] = pivot_col
        pivot_num = df.at[pivot_row, pivot_col]
        pivot_coefs = df_coefs.loc[df_coefs.index[pivot_row]].to_numpy() / pivot_num

        # Updating table: Substituting pivot variable on rows
        df_ups = df_coefs.drop(pivot_row)
        df_ups = df_ups.apply(lambda row: row.add(pivot_coefs * -1 * row[pivot_col]), axis = 1)
        df.update(df_ups)
        display(df)
        
    return df

Convertendo o problema para um quadro:

In [3]:
df_dict = {
    "Variável básica" : ["Z", "x_3", "x_4", "x_5", "x_6"],
    "Z"       : [1, 0, 0, 0, 0],
    "x_1"     : [-4, 1, 2, 1, 0],
    "x_2"     : [-3, 3, 2, 1, 1],
    "x_3"     : [0, 1, 0, 0, 0],
    "x_4"     : [0, 0, 1, 0, 0],
    "x_5"     : [0, 0, 0, 1, 0],
    "x_6"     : [0, 0, 0, 0, 1],
    "const"   : [0, 7, 8, 3, 2]
}

df = pd.DataFrame(df_dict)
display(df)

  Variável básica  Z  x_1  x_2  x_3  x_4  x_5  x_6  const
0               Z  1   -4   -3    0    0    0    0      0
1             x_3  0    1    3    1    0    0    0      7
2             x_4  0    2    2    0    1    0    0      8
3             x_5  0    1    1    0    0    1    0      3
4             x_6  0    0    1    0    0    0    1      2

In [4]:
df = optimal_solution(df)

< Cycle 1 > Pivot: Column x_1 , Row 3

  Variável básica  Z  x_1  x_2  x_3  x_4  x_5  x_6  const
0               Z  1  0.0  1.0  0.0  0.0  4.0  0.0   12.0
1             x_3  0  0.0  2.0  1.0  0.0 -1.0  0.0    4.0
2             x_4  0  0.0  0.0  0.0  1.0 -2.0  0.0    2.0
3             x_1  0  1.0  1.0  0.0  0.0  1.0  0.0    3.0
4             x_6  0  0.0  1.0  0.0  0.0  0.0  1.0    2.0

Logo, nossa solução ótima será:
* $Z\   = 12$
* $x_1 =\ \ 3$
* $x_2 =\ \ 0$
* $x_3 =\ \ 4$
* $x_4 =\ \ 2$
* $x_5 =\ \ 0$
* $x_6 =\ \ 2$

<img src="img/lista2_24_q2.png" alt="Drawing" style="width: 1200px; padding-right: 120px" class="left"/>

Convertendo o problema para um quadro:

In [5]:
df_dict = {
    "Variável básica" : ["Z", "x_3", "x_4", "x_5"],
    "Z"       : [1, 0, 0, 0],
    "x_1"     : [-4, 3, 1, 1],
    "x_2"     : [-8, 2, 1, 0],
    "x_3"     : [0, 1, 0, 0],
    "x_4"     : [0, 0, 1, 0],
    "x_5"     : [0, 0, 0, 1],
    "const"   : [0, 18, 5, 4]
}

df = pd.DataFrame(df_dict)
display(df)

  Variável básica  Z  x_1  x_2  x_3  x_4  x_5  const
0               Z  1   -4   -8    0    0    0      0
1             x_3  0    3    2    1    0    0     18
2             x_4  0    1    1    0    1    0      5
3             x_5  0    1    0    0    0    1      4

In [6]:
df = optimal_solution(df)

< Cycle 1 > Pivot: Column x_1 , Row 3

  Variável básica  Z  x_1  x_2  x_3  x_4  x_5  const
0               Z  1  0.0 -8.0  0.0  0.0  4.0   16.0
1             x_3  0  0.0  2.0  1.0  0.0 -3.0    6.0
2             x_4  0  0.0  1.0  0.0  1.0 -1.0    1.0
3             x_1  0  1.0  0.0  0.0  0.0  1.0    4.0

< Cycle 2 > Pivot: Column x_2 , Row 2

  Variável básica  Z  x_1  x_2  x_3  x_4  x_5  const
0               Z  1  0.0  0.0  0.0  8.0 -4.0   24.0
1             x_3  0  0.0  0.0  1.0 -2.0 -1.0    4.0
2             x_2  0  0.0  1.0  0.0  1.0 -1.0    1.0
3             x_1  0  1.0  0.0  0.0  0.0  1.0    4.0

< Cycle 3 > Pivot: Column x_5 , Row 3

  Variável básica  Z  x_1  x_2  x_3  x_4  x_5  const
0               Z  1  4.0  0.0  0.0  8.0  0.0   40.0
1             x_3  0  1.0  0.0  1.0 -2.0  0.0    8.0
2             x_2  0  1.0  1.0  0.0  1.0  0.0    5.0
3             x_5  0  1.0  0.0  0.0  0.0  1.0    4.0

Logo, nossa solução ótima será:
* $Z\   = 40$
* $x_1 =\ \ 0$
* $x_2 =\ \ 5$
* $x_3 =\ \ 8$
* $x_4 =\ \ 0$
* $x_5 =\ \ 4$

<img src="img/lista2_24_q3.png" alt="Drawing" style="width: 1200px; padding-right: 120px" class="left"/>

Convertendo o problema para um quadro:

In [7]:
df_dict = {
    "Variável básica" : ["Z", "x_4", "x_5", "x_6"],
    "Z"       : [1, 0, 0, 0],
    "x_1"     : [2, 3, 1, 1],
    "x_2"     : [-1, 1, -1, 1],
    "x_3"     : [1, 1, 2, -1],
    "x_4"     : [0, 1, 0, 0],
    "x_5"     : [0, 0, 1, 0],
    "x_6"     : [0, 0, 0, 1],
    "const"   : [0, 60, 10, 20]
}

df = pd.DataFrame(df_dict)
display(df)

  Variável básica  Z  x_1  x_2  x_3  x_4  x_5  x_6  const
0               Z  1    2   -1    1    0    0    0      0
1             x_4  0    3    1    1    1    0    0     60
2             x_5  0    1   -1    2    0    1    0     10
3             x_6  0    1    1   -1    0    0    1     20

In [8]:
df = optimal_solution(df)

< Cycle 1 > Pivot: Column x_2 , Row 3

  Variável básica  Z  x_1  x_2  x_3  x_4  x_5  x_6  const
0               Z  1  3.0  0.0  0.0  0.0  0.0  1.0   20.0
1             x_4  0  2.0  0.0  2.0  1.0  0.0 -1.0   40.0
2             x_5  0  2.0  0.0  1.0  0.0  1.0  1.0   30.0
3             x_2  0  1.0  1.0 -1.0  0.0  0.0  1.0   20.0

Logo, nossa solução ótima será:
* $Z\   = 20$
* $x_1 =\ \ 0$
* $x_2 = 20$
* $x_3 =\ \ 0$
* $x_4 = 40$
* $x_5 = 30$
* $x_6 =\ \ 0$